:root {
    --dark-mode-element: hsl(209, 23%, 22%);

    --dark-mode-background: hsl(207, 26%, 17%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-background: hsl(0, 0%, 98%);
    --white-elements: hsl(0, 0%, 100%);
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html {
    background: var(--light-mode-background);

    font-family: "Nunito Sans", sans-serif;
    font-size: 62.5%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    padding-bottom: 2.5em;
    align-items: center;
    width: 100%;
}
.country-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
