.skeleton {
    background-color: var(--light-mode-input);
    animation: loading-skeleton infinite 1.5s;
}
.skeleton-name {
    height: 34px;
    border-radius: 10px;
    width: 80%;
}
.skeleton-detail {
    height: 13px;
    width: 50%;
    display: inline-block;
    border-radius: 6px;
}
@keyframes loading-skeleton {
    0%,
    100% {
        opacity: 70%;
    }
    50% {
        opacity: 10%;
    }
}
@media only screen and (min-width: 1440px) {
    .skeleton-detail {
        height: 18px;
    }
}
